$mobile-menu-height: 48px;

.landing-section {

    height: 100vh;
    position: relative;
    background: $terminal-background;

    .terminal {
        .terminal-menu {
            height: $mobile-menu-height;
            width: 100%;
            background: $menu-background;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            z-index: 10;
            position: relative;
    
            .icofont-terminal {
                font-size: 34px;
                margin-left: 5px;
                color: white;
            }
        }

        .terminal-console {

            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100vh - #{$mobile-menu-height});
            color: white;

            .heading {

                //animation: heading 2s forwards;

                .heading-logo {
                    width: 80vw;
                }
            }

            .branding {
                
                //animation: branding 2s forwards;

                .highlight {
                    color: $secondary-color;
                }  
            } 
        }

        .terminal-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;            
            align-items: center;
            justify-content: center;

            .down-arrow {
                height: 35px;
                margin-bottom: 5vh;
            }
        }
        
    }
}