$mobile-menu-height: 48px;

.landing-section {

    height: 100vh;
    position: relative;
    background: $terminal-background;

    .terminal {

        max-height: 100vh;

        .terminal-menu {
            height: $mobile-menu-height;
            background: $menu-background;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            z-index: 10;
            position: relative;
    
            .icofont-terminal {
                font-size: 34px;
                margin-left: 5px;
                color: white;
            }
        }

        .terminal-console {

            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100vh - #{$mobile-menu-height});
            color: white;

            .heading {

                //animation: heading 2s forwards;

                .heading-logo {
                    width: 80vw;
                }
            }

            .branding {
                
                //animation: branding 2s forwards;

                .highlight {
                    color: $secondary-color;
                }  
            } 
        }

        .terminal-footer {
            position: relative;
            bottom: 60px;
            height: 35px;
            display: flex;            
            align-items: center;
            justify-content: center;

            .down-arrow {
                height: 100%;
                margin-bottom: 5vh;
            }
        }
        
    }
}

.navbar {

    .links {
        display: none;

        &.show {
            display: inherit;
            background-color: $fourth-color;
        }

        a {
            color: white;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            display: block;

            &:hover {
                background-color: #ddd;
                color: black;
            }

            icon {
                background: black;
                display: block;
                position: absolute;
                right: 0;
                top: 0;
            }

            .active {
                background-color: #4CAF50;
                color: white;
            }
        }
    }

    .topnav {
        overflow: hidden;
        background-color: $menu-background;
        position: relative;
        height: $mobile-menu-height;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .mobileMenuLogo {
            width: 140px;
            height: 32px;
            margin-left: 10px;
        }
    
        .hambugerIcon {
            width: 48px;
            height: 48px;
            position: relative;
        }
    
        
    }
}


.about-section {
    .wrapper {
        // height: calc(100vh - #{$mobile-menu-height});
        max-height: calc(100vh - #{$mobile-menu-height});

        .avatar-wrapper {
            height: 345px;
            width: 100%;
            max-width: 100vw;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;

            .avatar {
                min-width: 200px;
                width: auto;
                margin-bottom: 50px;
                max-width: 282px;
            }
        }

        .main {
            width: 100%;
            background: silver;
            position: relative;
            height: 240px;

            .main-wrapper {
                position: absolute;
                width: 95%;
                margin: auto;
                top: -30px;
                left: 0;
                right: 0;

                .info {
                    font-size: 20px;
                }

                .slogan {
                    width: 100%;
                    top: -10px;
                    background: green;
                    height: 50px;
                    margin-bottom: 20px;
                    border-radius: 15px;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    z-index: 99;
                    color: white;

                    &::before {
                        content: "\A";
                        position: relative;
                        top: -20px;
                        /* background: green; */
                        right: 10px;
                        content: '';
                        display: block;
                        position: absolute;
                        top: -18px;
                        /* left: 100%; */
                        width: 0;
                        height: 0;
                        border-color: transparent transparent transparent green;
                        border-style: solid;
                        border-width: 18px;
                        z-index: -100;
                    }
                }
            }
        }
    }
}